<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical" android:layout_width="match_parent"
    android:layout_height="match_parent">

    <ImageView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        app:srcCompat="@drawable/title"
        android:id="@+id/imageView2" />

    <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/textView_nation"
        android:text="國道"
        android:gravity="center_horizontal"
        android:textSize = "24sp"/>

    <GridLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content">

        <Button
            android:text="國道1"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation1"
            android:layout_row="0"
            android:layout_column="0" />

        <Button
            android:text="國道2"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation2"
            android:layout_row="0"
            android:layout_column="1"/>

        <Button
            android:text="國道3"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation3"
            android:layout_row="0"
            android:layout_column="2"/>

        <Button
            android:text="國道4"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation4"
            android:layout_row="0"
            android:layout_column="3"/>
        <Button
            android:text="國道5"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation5"
            android:layout_row="1"
            android:layout_column="0" />

        <Button
            android:text="國道6"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation6"
            android:layout_row="1"
            android:layout_column="1"/>

        <Button
            android:text="國道8"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation8"
            android:layout_row="1"
            android:layout_column="2"/>

        <Button
            android:text="國道10"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/button_nation10"
            android:layout_row="1"
            android:layout_column="3"/>
    </GridLayout>

    <GridLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">

    </GridLayout>

</LinearLayout>